{% extends "layout.html" %}
{% block content %}


    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.begin.label(class="form-control-label") }}
                    {% if form.begin.errors %}
                        {{ form.begin(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.begin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.begin(class="form-control form-control-lg", placeholder="YYYY-MM-DD", value=current_date.strftime('%Y-%m')+'-1') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.end.label(class="form-control-label") }}
                    {% if form.end.errors %}
                        {{ form.end(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.end.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.end(class="form-control form-control-lg", placeholder="YYYY-MM-DD", value=current_date.strftime('%Y-%m-%d')) }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        

            <div class='row'>
                <!-- Expenses -->
                <div class='col'>
                    <h1>Expenses</h1>
                    <table class="table table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>Fixed monthly costs</td>
                        <td>€ {{ expenses['monthly_cost'] }}</td>
                    </tr>
                    {% for cat,sum in expenses['sums'].items() %}     
                    <tr>
                        <td>{{cat.capitalize()}}</td>
                        <td>€{{sum}}</td>
                    </tr>
                    {% endfor %}
                    <tr style="border-top: 2px solid white;">
                        <td>Total Expenses</td>
                        <td>€{{ expenses['total_sum'] }}</td>
                    </tr>
                    <tr>
                        <td>Total monthly cost from {{ expenses['begin_month'] }} till {{ expenses['end_month'] }} </td>
                        <td>€{{ expenses['total_monthly_cost'] }}</td>
                    </tr>
                    <tr style="border-top: 4px solid white;">
                        <td >Total Costs</td>
                        <td>€{{ expenses['total'] }}</td>
                    </tr>
                </table>
                <div class='graph'>
                    <img src='data:image/png;base64,{{data}}'>
                </div>
              </div>
              <!-- Income -->
              <div class='col'>
                  <h1>Income</h1>
                  <table class="table table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>

                    <tr><td>Freelance</td><td></td></tr>
                    <tr>
                        <td>Total INCL. VAT</td>
                        <td>€ {{ income['freelance']['amount'] }}</td>
                    </tr>
                    <tr>
                        <td>VAT</td>
                        <td>€ {{ '{:.2f}'.format(income['freelance']['VAT']) }}</td>
                    </tr>
                    <tr>
                        <td>Deductable VAT</td>
                        <td>- € {{ '{:.2f}'.format(income['freelance']['deductable']) }}</td>
                    </tr>
                    <tr>
                        <td>Total VAT</td>
                        <td>€ {{ '{:.2f}'.format(income['freelance']['Total_VAT']) }}</td>
                    </tr>                                        
                    <tr>
                        <td>Total Hours Worked</td>
                        <td>{{ '{:.2f}'.format(income['freelance']['hours_worked'])  }}</td>
                    </tr>
                    <tr>
                        <td>Average Wage/Hour</td>
                        <td>€ {{ '{:.2f}'.format(income['freelance']['avg_wage']) }}</td>
                    </tr>
                    <tr>
                        <td>Average Hours/Month</td>
                        <td>{{ '{:.2f}'.format(income['freelance']['avg_hours']) }}</td>
                    </tr>
                    <tr>
                        <td>Net Total</td>
                        <td>€ {{ '{:.2f}'.format(income['freelance']['net_amount']) }}</td>
                    </tr>


                    <tr  style="border-top: 2px solid white;" ><td>Wage</td><td></td></tr>
                    <tr>
                        <td>Net Amount</td>
                        <td>€ {{ income['wage']['amount'] }}</td>
                    </tr>
                    
                    <tr>
                        <td>Average Hours/Month</td>
                        <td>€ {{ '{:.2f}'.format(income['wage']['avg_hours']) }}</td>
                    </tr>
                    <tr style="border-top: 2px solid white;">
                        <td>Monthly Income</td>
                        <td>€ {{ income['other']['monthly'] }}</td>
                    </tr>
                    <tr>
                        <td>Total Monthly Income</td>
                        <td>€ {{ income['other']['total_monthly'] }}</td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>€ {{ income['other']['amount'] }}</td>
                    </tr>
                    <tr style="border-top: 4px solid white;">
                        <td>Total Income</td>
                        <td>€ {{ '{:.2f}'.format(income['total'] )}}</td>
                    </tr>                   
                </table>
                <div class='total row'>
                    <h5 class='col'>Net Total</h5>
                    <p class="col {{ "red" if total <= 0 else "green" }}">{{ '{:.2f}'.format(total) }}</p> 
                </div>
              </div>

            </div>


        </div>
        

{% endblock content %}