{% extends "layout.html" %}
{% block content %}

    <div class="finance content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

            <div class="add-transaction">
                <div class="row">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="row">
                    {{ form.amount.label(class="form-control-label") }}
                    {% if form.amount.errors %}
                        {{ form.amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="row">
                    {{ form.category.label(class="form-control-label") }}
                    {% if form.category.errors %}
                        {{ form.category(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col">
                    {{ form.tax_percentage.label(class="form-control-label") }}
                    {% if form.tax_percentage.errors %}
                        {{ form.tax_percentage(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tax_percentage.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% for subfield in form.tax_percentage %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </div>

                    <div class="col">
                        {{ form.is_deductable.label(class="form-control-label") }}
                        {% if form.is_deductable.errors %}
                            {{ form.is_deductable(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.is_deductable.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% for subfield in form.is_deductable %}
                            <tr>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </div>                    
                </div>
            </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        
            <table class="table table-dark">



                <!-- Sort Row -->
                <form  method="POST" action="">  
                    <tr>
      
                    {{ sort_form.hidden_tag() }}
                    <th id="fin-sort-category">
                        {% if sort_form.month.errors %}
                            {{ sort_form.month(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in sort_form.month.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ sort_form.month(class="form-control form-control-lg") }}
                        {% endif %}
    
                      </th>                    
                      <th>
                        {% if sort_form.sort_category.errors %}
                            {{ sort_form.sort_category(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in sort_form.sort_category.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ sort_form.sort_category(class="form-control form-control-lg") }}
                        {% endif %}
    
                      </th>
                    <th>Due date:
                        {% for subfield in sort_form.date_desc %}                
                        
                            {{ subfield }}
                           {{ subfield.label(class="arrow") }}
    
                        {% endfor %}   
                      </th>

                      <th>Total: €{{total_sum}}</th>
                      <th>{{sort_form.sort_submit(class="btn-sml sort-submit btn-primary")}}</th>
    
                    </tr>
                </form>


                <!--HEADER-->
                <tr>
                    <th>Date</th>
                    <th>Content</th>
                    <th>Amount</th>
                    <th>BTW</th>
                    <th>Category</th>
                    <th></th>

                </tr>
                <!--Content-->
              {% for transaction in transactions %}     
                <tr>


                  <td>{{transaction.date.strftime('%d-%m-%Y')}}</td>
                  <td>{{transaction.content}}</td>
                  <td>{{transaction.amount}}</td>
                  <td>{{transaction.tax_amount}}</td>
                  <td style="text-transform: capitalize;">{{transaction.category}}</td>                 
                  <td><form action="{{ url_for('users.delete_transaction', transaction_id=transaction.id) }}" method="POST">
                      <input class="btn btn-light" type="submit" value="&#x274C">
                  </form>            </td>
      
                </tr>
              {% endfor %}
              </table>
            </form>    




        </div>




{% endblock content %}